page-categorias {

  #background{
    background-color: black;
  }

  ion-title{
    text-align: center;
     font-size: medium;

   }

     #movie-I{
      width: 20%;
      height: 20%;
      margin-left: 6%;
}

  #movie-II{
    width: 20%;
    height: 20%;
    margin-left: 2%;
  }

  #movie-III{
    width: 20%;
    height: 20%;
    margin-left: 2%;
  }

  #movie-IV{
    width: 20%;
    height: 20%;
    margin-left: 2%;

  }

  #movie-V{
    width: 20%;
    height: 20%;
    margin-left: 6%;

  }

  #movie-VI{
    width: 20%;
    height: 20%;
    margin-left: 2%;

  }

  #movie-VII{
    width: 20%;
    height: 20%;
    margin-left: 2%;

  }

  #movie-rogue-one{
    width: 20%;
    height: 20%;
    margin-left: 2%;

  }

  #movie-ultimo-jedi{
    width: 20%;
    height: 20%;
    margin-left: 6%;
  }

  #movie-han-solo{
    width: 20%;
    height: 20%;
    margin-left: 2%;
  }

  #movie-IX{
    width: 20%;
    height: 20%;
    margin-left: 2%;
  }


}
