<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="center" id="title" color="warning">We Love Star Wars</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content id="background">
<div>
    <ion-slides id="slides">
      <ion-slide>
        <img src="assets/imgs/slide-one.png" alt="Imagem">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/slide-two.png" alt="Imagem">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/three.jpg" alt="Imagem">
      </ion-slide>
    </ion-slides>
  </div>
  <br>

    <p>Lista de filmes</p>

    <div id="filmes">
    <img src="assets/imgs/star-wars-episode-I.jpg" alt="Imagem" id="movie-I">
    <img src="assets/imgs/star-wars-episode-II.jpg" alt="Imagem"  id="movie-II">
    <img src="assets/imgs/star-wars-III.jpg" alt="Imagem"  id="movie-III">
    <img src="assets/imgs/star-wars-IV.jpg" alt="Imagem"  id="movie-IV">
    <img src="assets/imgs/star-wars-episode-V.jpg" alt="Imagem"  id="movie-V">
    <img src="assets/imgs/star-wars-episode-VI.jpg" alt="Imagem"  id="movie-VI">
    <img src="assets/imgs/star-wars-episode-VII.jpg" alt="Imagem"  id="movie-VII">
    <img src="assets/imgs/star-wars-rogue-one.png" alt="Imagem"  id="movie-rogue-one">
    <img src="assets/imgs/star-wars-ultimo-jedi.png" alt="Imagem"  id="movie-ultimo-jedi">
    <img src="assets/imgs/star-wars-han-solo.jpg" alt="Imagem"  id="movie-han-solo">
    <img src="assets/imgs/star-wars-episode-ix.jpg" alt="Imagem"  id="movie-IX">

  </div>
  </ion-content>
