<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-avatar>
    <img class="circle" [src]="profileImage">
  </ion-avatar>
  <h2 text-center>{{cliente?.nome}}</h2>
  <p text-center> {{cliente?.email}}</p>

  <ion-card>
    <ion-card-header>
      Enviar imagem de Perfil
    </ion-card-header>
    <ion-item *ngIf="picture">
      <img  [src]="picture">
    </ion-item>
    <ion-item>
      <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn"><ion-icon name="camera"></ion-icon>   Camera</button>
      <button ion-button  color="secondary" outline block *ngIf="picture" (click)="sendPicture()"  ><ion-icon name="send"></ion-icon>   Enviar</button>
      <button ion-button color="danger" outline block *ngIf="picture" (click)="cancel()"  ><ion-icon name="cancel"></ion-icon> Cancelar</button>
    </ion-item>
  </ion-card>
</ion-content>
