<ion-content padding id="background">
  <div id="background-image">
    <img src="assets/imgs/logo-star-wars.png" alt="Logo">
  </div>

    <form [formGroup]="formGroup">
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" center aria-required="true" [(ngModel)]="creds.email" type="email" name="email"  ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input aria-required="true" formControlName="senha" [(ngModel)]="creds.senha" type="password" name="senha"  ></ion-input>
      </ion-item>
      <br>
      <button color="warning" ion-button block [disabled]="formGroup.invalid" (click)="login()">Acessar
        <ion-icon></ion-icon>
      </button>
    </form>
    <button id="botao-cadastrar"color="warning" ion-button block outline  (click)="signup()"> Cadastrar-se </button>

  </ion-content>
