page-home {

  img{
      width: 300px;
      align-self: center;
      margin: auto;
      display: block;
      padding: 30px;
      //margin-bottom: 20%;

  }

  #background-image{
      background-color: black;

  }

  #background{
    background-color: black;
  }
  }
